:root {
    /* General NVIDIA styling */
    --nv_green: #76b900;
    --nv_font: 'Trebuchet MS', Arial, Helvetica, sans-serif;

    /* Other colors and styling */
    --default_text: #ffffff;
    --default_shadow: #9E9E9E;
    --low_contrast_text: #808080;

    --table_text: #DEDEDE;
    --table_outline: 2px solid #808080;
    --controls-text: #BBBBBB;
    --banner_bg: rgba(0,0,0,0.7);
}

.instructions {
    position: absolute;

    width: 100%;
    height: 100%;
    padding : 0; margin: 0;

    user-select: none;
    cursor: pointer;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    color: var(--default_text);
    text-shadow: 1px 1px 1px var(--default_shadow);
    background-color: var(--banner_bg);

    text-align: center;
    font-family: var(--nv_font);

    font-size: 28px;
    line-height: 36px;
}

.controls_table {
    margin-left: auto;
    margin-right: auto;
    text-shadow: none;
    border-width: 0;
}

.controls_table td {
    font-size: 20;
    text-align: left;
    padding: 8px;
    border: 0;
    color: var(--controls-text);
}
    
.controls_table td:first-child {
    font-weight: bold;
    text-align: right;
}

#banner {
    position: absolute;
    display: inline;

    width: 100%;
    height: 80px;

    background: rgba(0,0,0, 0.5);

    text-align: center;
    font-family: var(--nv_font);
    font-size: 12pt;
}

#banner h1 {
    display: inline-block;
    color: var(--default_text);
    width: 30%;
}

/* Re-style the dat.gui elements (NV green where possible/easy) */
.dg *{
    font-family: var(--nv_font);
}

.dg .c .slider-fg{
    background: var(--nv_green) !important;
}

.dg .cr.number {
    border-left: 3px solid var(--nv_green) !important;
}

.dg .cr.boolean {
border-left: 3px solid var(--nv_green) !important;
}

.dg .cr.number input[type=text] {
    color: var(--nv_green) !important;
}